/* Geral */

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color:#333;
    /* Para os inputs não passarem da largula maxima dos elementos pai */
    box-sizing: border-box; 
}

html{
    /* deixar a altura do navegador do usuario */
    height:100vh ;
}

body{
    background-image: url("../img/fundo.jpg");
    background-position: center;
    /* com o cover ela se adapta com a tela do usuario */
    background-size: cover;
}

button{
    background-color: #fdfdfd;
    color: #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover{
    background-color: chocolate;
}

button:hover > i {
    color: #fff;
}

button i{
    color: chocolate;
    font-weight: bold;
    position: none;
}

input,select{
    padding: .25rem .5rem;
}

/* para remover por enquanto */
.hide{
    display: none;
}

/* Todo header */

.todo-container{
    max-width: 450px;
    /* centraliza na tela */
    margin: 3rem auto ;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header{
    text-align: center;
    /* cima - laterais */
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* Todo Form */

#todo-form,#edit-form{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
#todo-form p,
#edit-form p{
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control{
    /* deixa os inputs do lado dos botão */
    display: flex;
}

.form-control input{
    /* afastando do input */
    margin-right: .3rem;
}

#cancel-edit-btn{
    margin-top: 1rem;
}

/* Todo toolbar */

#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4{
    margin-bottom: .5rem;
}

#search{
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form{
    display: flex;
}

#search input{
    width: 100%;
    margin-right: 0.3rem;
}

#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select{
    /* com isso ele vai até o fim da largura permitida */
    flex: 1;
}

/* Todo List */

.todo{
    display: flex;
    /* texto de um lado e botão do texto*/
    justify-content: space-around;
    align-items: center;
    padding: 1rem ;
    border-bottom: 1px solid #ccc;
    transition: .3s ;
}

.todo h3{
    flex: 1;
    font-family: 0.9rem;
}

.todo button{
    margin-left: 0.4rem;
}

.done{
    background-color: rgb(224, 199, 180);
}

.done h3{
    color: white;
    text-decoration: line-through;
    font-style: italic;
    

}