/* Geral */
*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

/* Fundo  */
body{
  background-color: #fafafa;
}

/* container */
#main-container{
  display: flex; /* um do lado do outro */
  margin-top: 30px; /* afastamento do topo da pagina */
}
#banner-container,
#form-container{
  flex:  1 1 0;
  width: 50%;
}
#banner-container{
  /* Texto para direita */
  text-align: right;
}
#banner-container img{
  /* imagem do lado do texto e não utrapassadno */
  width: 100%;
  margin-right: 15px;
  margin-top: 25px;
  max-width: 380px;
}
#form-container{
  /* todo texto no centro */
  text-align: center;
}

/* Login FORM */
#form-box{
  background-color: #fff;
  border: 1px solid #dbdbdb;
  width: 350px;
  margin-top: 30px;
}
#logo-insta{
  width: 175px;
  height: 51px;
  /* 30px no topo, automatica na laterias e 12 embaixo  */
  margin: 30px auto 12px;
}
#login-form{
  /* afastamento em cima */
  margin-top: 20px;
}
#login-form input{
  /* cada um ficar em uma linha */
  display: block;
  font-size: 12px;
  padding: 12px 9px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  /* aumento */
  width: 268px;
  /* centralizar no meio e linha */
  margin: 5px auto;
}
/* Botão de Entrar */
#login-form input[type="submit"]{
  background-color: #B2dFFC;
  color: #fff;
  margin-top: 15px;/* Afastar um pouco */
  border-radius: 5px;
  height: 30px;
  font-size: 13px;
  /* centralizou */
  padding: 0;
  font-weight: bold;
}

/* Separador */
.separator{
  /* Vou ter posição absoluta dentro dessa div que vai ser nosso span */
  position: relative ;
}
.line{
  /* criando a linha  do Ou*/
  border-top: 1px solid #dbdbdb;
  width: 268px;
  margin: 25px auto 35px ;
}
.separator span{
  position: absolute;
  text-transform: uppercase;
  color: #dbdbdd;
  /* até aqui ele perde a refencia */
  background-color: #fff;
  /* aqui faz ele entrar para posiçao */
  top: -6px;
  width: 50px;
  /* centralizar */
  margin-left: -25px;
  font-size: 14px;
}

/* FACEBOOK LOGIN */

#facebook-login{
  /* afastamento do elementos */
  margin-bottom: 25px;
}
#facebook-login a{
  text-decoration: none;
  color: #385185;
  display: flex;
  /* Centralizar os itemns na vertical e horizontal */
  align-items: center;
  justify-content: center;
}

#facebook-login img{
  width: 26px;
  height: 16px;
  /* afastamento do texto */
  margin-right: 8px;
}

#facebook-login span{
  /* estilos do texto */
  font-weight: bold;
  font-size: 13px;
  margin-top: 1px;
}

/* Esqueceu a senha */

#forgot-pass{
  /* afastar o elemento debaixo */
  margin-bottom: 20px;
  font-size: 12px;
}

#forgot-pass a{
  text-decoration: none;
  color: #373799;
}

/* Registro */
#register-container{
  background-color: #fff;
  border: 1px solid #dbdbdb;
  /* largura */
  width: 350px;
  /* afastamento do top */
  margin-top: 10px;
  padding: 25px;
}
#register-container p{
  font-size: 14px;
  color: #262626;
}
#register-container a{
  color: #4a95f6;
  font-weight: bold;
  text-decoration: none;
}

/* APLICATIVOS */

#get-app-container {
  text-align: center;
  width: 350px;
}

#get-app-container p {
  margin: 20px 0;
  font-size: 13px;
}

#get-app-container a {
  text-decoration: none;
}

#get-app-container img {
  width: 136px;
  height: 40px;
}
/* FOOTER */
footer {
  text-align: left;
  width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer #footer-links {
  display: flex;
  list-style: none;
}
#footer-links li {
  margin-right: 10px;
}
#footer-links a,
#copyright {
  text-decoration: none;
  color: #8e8e8e;
  font-size: 12px;
}

#copyright {
  margin-top: 10px;
}

/* Celular */

@media(max-width: 450px){
  body{
    background-color: #fff;
  }
  #banner-container{
    /* esconder o banner */
    display: none;
  }

  #main-container,
  #form-box{
    /* ocupar as margin nada */
    margin-top: 0;
  }
  #form-container,
  #form-box,
  #register-container,
  #get-app-container{
    /* tiras as bordas */
    width: 100%;
    border: none;/* ocupar os espaço que podem */
  }
  footer{
    width: 90%;
  }
  #footer-links{
    /* levar para baixo oque não cabe em cima */
    flex-wrap: wrap;
    justify-content: center;
  }

  #footer-links{
    margin-bottom: 10px;
  }

}
